<template name="groupModal">
	{{#ionModal title="Add a Group" class="groupsClass"}}
		<div class="list" style="margin-bottom: -1px;">
			<form>
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<i class="icon ion-ios-search placeholder-icon"></i>
					<input type="text" placeholder="Name or unique id" id="search-id">
				</label>
				<button class="button button-clear" data-action="search-group">
                	Search
            	</button>
			</div>
			</form>
			<div id="search-result" style="text-align:center">
				<h5 class="assertive" id="no-group-error" style="display: none;">No Group found found with given name</h5>
				<div id="group-data" style="display: none;">
					
				</div>
			</div>
		</div>
		{{#ionList}}
			{{#each names}}
				{{#ionItem buttonRight=true }}
				<a class="btnInfo">
                            <h2>{{this.name}} </h2>
                            <p>
                                {{this.description}}
                            </p>
											</a>
							<button class="button icon ion-plus-round button-positive button-clear btnAdd" ></button>

				{{/ionItem}}
			{{/each}}
		{{/ionList}}	
	{{/ionModal}}
</template>