<template name="groups">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Groups</h1>
    {{/contentFor}}
    
    {{#contentFor 'headerButtonRight'}}
        <button class="button button-clear" data-ion-modal="groupModal" style="font-weight: 500;">
            Add
        </button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="groupsClass"}}
            <div class="list card">
                <a class="item item-icon-left positive" href="{{pathFor 'createGroup'}}">
                    <i class="icon ion-plus-circled"></i>
                    Create a group
                </a>
            </div>
            {{#ionList}}
                <div class="item item-divider">
                    <p>Total Communities you own - {{total}}</p>
                </div>
                {{#each comm}}
                    {{#ionItem buttonRight=true }}
                        <a class="btnInfo">
                            <h2>{{this.name}} </h2>
                            <p>
                                {{this.description}}
                            </p>
                        </a>
                        <button class="button icon ion-trash-a button-assertive button-clear btnDel" ></button>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}

</template>
