<template name="_tabs">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      {{> ionTab title="Drivers Scheduled" path="inflate.drivers" icon="android-home"}}
      {{> ionTab title="Drives Scheduled" path="inflate.drives" icon="android-star"}}

    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      {{> ionTab title="Drivers Scheduled" path="inflate.drivers" iconOff="ios-home-outline" iconOn="ios-home"}}
      {{> ionTab title="Drives Scheduled" path="inflate.drives" iconOff="ios-star-outline" iconOn="ios-star"}}

    {{/ionTabs}}
  {{/if}}
</template>
