<template name="inflateDrives">
    {{> _tabsHeader}}
    {{#ionContent class="padding scheduletabsClass" }}
        {{#ionList}}
            {{#each drive}}
                {{#ionItem buttonRight=true }}
                <a class="btnInfo">
                <h2>{{this.origin.[0]}} &nbsp; to &nbsp; {{this.destination.[0]}}</h2>
                <p>
                    {{start}}
                </p>
            </a>
                <button class="button icon ion-trash-a button-assertive button-clear btnDel" ></button>

                {{/ionItem}}
            {{/each}}
        {{/ionList}}
    {{/ionContent}}
    {{> _tabs}}
</template>
