<template name="inflateDrives">
    {{> _tabsHeader}}
    {{#ionContent class="padding" }}
        {{#ionList}}
            {{#each drive}}
                {{#ionItem buttonRight=true }}
                <h2>{{this.origin.[0]}} &nbsp; to &nbsp; {{this.destination.[0]}}</h2>
                <p>
                    {{start}}
                </p>

                    <button class="button button-assertive">{{> ionIcon icon="ion-trash-b"}}</button>

                {{/ionItem}}
            {{/each}}
        {{/ionList}}
    {{/ionContent}}
    {{> _tabs}}
</template>
