<template name="inflateDrivers">

    {{> _tabsHeader}}
    {{#ionContent class="padding"}}
    {{#ionList}}
            {{#each driver}}
            {{#ionItem buttonRight=true }}
            <a class="btnInfo">
                <h2>{{tripOrigin}}  &nbsp; to &nbsp; {{tripDest}} </h2>
                <p>
                    {{start}}
                </p>
            </a>
                <button class="button icon ion-trash-a button-assertive button-clear btnDel" ></button>
                {{/ionItem}}
            {{/each}}
        {{/ionList}}
    {{/ionContent}}
    {{> _tabs}}
</template>
