<template name="layout">
    {{#ionBody}}
        {{> inpForm}}
        {{!-- {{> functionsDiv}} --}}
        {{#ionSideMenuContainer}}

            {{#ionSideMenus}}

                {{#ionSideMenu}}
                    <div class="sidePic" style="background-image: url(/{{profEmail}});">
                        <div>{{userEmail}}</div>
                    </div>
                    <div class="">
                        <div class="list">
                            <a class="item item-icon-left" href="/">
                                <i class="icon ion-home"></i> Home
                            </a>
                            <a class="item item-icon-left" href="{{pathFor 'profileTemplate'}}">
                                <i class="icon ion-person"></i> My Profile
                            </a>
                            <a class="item item-icon-left" href="{{pathFor route='inflate.drivers'}}">
                                <i class="icon ion-calendar"></i> Schedule
                            </a>
                            <a class="item item-icon-left" href="{{pathFor 'about'}}">
                                <i class="icon ion-heart"></i> About
                            </a>
                            <a class="item item-icon-left" data-action="sign-out">
                                <i class="icon ion-log-out"></i> Sign Out
                            </a>
                        </div>
                    </div>
                {{/ionSideMenu}}

                {{#ionSideMenu side="right" }}
                    <div class="row">
                        <button class="button button-clear col col-10" data-ion-menu-close>
                            <i class="icon ion-android-arrow-back"></i>
                        </button>
                        <h4 class="title col">Requests</h4>
                    </div>
                    <div class="content ">
                        {{> inflateReq}}
                    </div>
                    <div class="bar bar-footer bar-balanced">
                        <div class="title">Footer</div>
                    </div>
                {{/ionSideMenu}}

            {{/ionSideMenus}}
            {{#ionSideMenuContent}}

                {{> ionNavBar class="bar-positive"}}
                {{#ionNavView}}
                    {{> yield}}
                {{/ionNavView}}
                {{> deleteMarker}}
            {{/ionSideMenuContent}}
        {{/ionSideMenuContainer}}
    {{/ionBody}}
</template>
