<template name="dispMap">
	{{#if currentUser}}
	<div class ="col-md-6 col-md-offset-3">
		<form>
			<input type="text" class="form-control" placeholder="Enter your source location" id="map-src-search">
			<input type="text" class="form-control" placeholder="Enter your destination location and distance" id="map-dest-search">
			<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
			<input type="submit" class="btn btn-primary" value="Submit">
		</form>
	</div>
	{{#each marker}}
		{{> drawMarker}}
	{{/each}}
	{{/if}}
</template>