<template name="dispMap">
	{{#if currentUser}}
	{{mapState}}
	<div class = "row mapd">
		<div class="google-map-canvas col-xs-12 col-sm-12 col-md-12 col-lg-12" id="map-canvas"></div>
	</div>
	<div vertical center layout class="fabdiv">
		<div vertical layout class="modSelect" style="display: none;">
			<core-tooltip label="I am a rider" position="left" small show>
				<paper-fab mini id="fabRider" icon="settings-input-svideo" class="shade1" title="rider"></paper-fab>
			</core-tooltip>
			<core-tooltip label="I need a ride" position="left" small show>
				<paper-fab mini id="fabRide" icon="face-unlock" class="shade2" title="ride"></paper-fab>
			</core-tooltip>
		</div>
		<paper-fab id="inpIcon" icon="add" class="blue" title="create"></paper-fab>
	</div>
	<div id="outputDiv"></div>
	{{> inpForm}}
	{{#each marker}}
		{{> drawMarker}}
	{{/each}}
	{{/if}}
</template>
