<template name="home">

    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='navicon'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Team Polo
            {{#if countNotifications}}
            <span class="badge badge-assertive badgeNotif" data-val= {{countNotifications}}>{{countNotifications}}</span>
            {{/if}}
        </h1>

    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
    <div class="buttons">
        <button class="button button-clear" style="margin-right: 10px;" data-action="centerBounds">
            <i class="icon ion-location"></i>
        </button>
        <button class="button button-clear" data-ion-popover="_myPopover">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='more'}}
            {{/if}}
        </button>
    </div>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent }}
            <div class="mapState">
                {{> dispMap}}
            </div>
        {{/ionContent}}
    {{/ionView}}

</template>
