<template name="houses">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Safe Houses</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="genericClass"}}
            {{#ionList}}
                <div class="item item-divider">
                    <p>Total  - {{total}} / 5</p>
                </div>
                {{#each house}}
                    {{#ionItem buttonRight=true }}
                        <h2>Around <strong>{{radius}}m</strong> near <strong>{{name}}</strong></h2>
                        <p>{{address}}</p>
                        <div class="buttons">
                            <button class="button icon ion-map button-positive button-clear btnMap" ></button>
                            <button class="button icon ion-trash-a button-assertive button-clear btnDel" ></button>
                        </div>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}

</template>