<template name="inflateReq">
    {{#ionList}}
        {{#each req}}
            {{#ionItem }}
                <a class="btnInfo">
                    <h2>{{this.requestee}} &nbsp; requesting for &nbsp; {{this.advtRequest}} </h2>
                    <p>
                        Show some details
                    </p>
                </a>
                <div class="button-bar">
                <button class="button icon ion-ios-checkmark button-balanced button-clear btnAccept"></button>
                <button class="button icon ion-android-cancel button-assertive button-clear btnReject"></button>
            </div>
            {{/ionItem}}

        {{/each}}
    {{/ionList}}
</template>
