<template name="inpForm">
	<div class ="inputForm" style="display: none;">
		<form id="form" class="form-horizontal" data-parsley-validate>
			<fieldset>
				<legend>{{modeSelect}}</legend>
				<!-- TODO Validation states for showing correct/wrong input from http://getbootstrap.com/css/ -->
				<div horizontal layout>
					<div>
						<paper-radio-group id="polyDateSel" selected="today">
							<paper-radio-button name="today" label="Today"></paper-radio-button>
							<paper-radio-button name="tomorrow" label="Tomorrow"></paper-radio-button>
						</paper-radio-group>
					</div>
					<div flex>
						<div class="input-group clockpicker" data-placement="left" data-align="bottom" data-autoclose="true">

							<input type="text" class="form-control" placeholder="Now"  id="timeInput" data-parsley-tomoValidator data-parsley-validate-if-empty>
							<span class="input-group-addon ">
								<span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>
				</div>



				<paper-checkbox id="polycheckboxSrc" label="Use my current location"></paper-checkbox>

				<paper-input id="polyMapSrcSearch" label="Enter your source location" floatingLabel></paper-input>
				<paper-input id="polyMapDesSearch" label="Enter your destination location" floatingLabel></paper-input>
				<div horizontal layout>
					<div flex></div>
					<paper-fab mini id="fabInpSubmit" icon="check" class="green" title="Submit"></paper-fab>
					<paper-fab mini id="fabInpCancel" icon="close" class="red" title="Cancel"></paper-fab>
				</div>

			</fieldset>
		</form>

	</div>

</template>
