<template name="notFound">
    {{#ionContent class='notFoundClass'}}

        <h1>
            Not found
            <br>
            <i class="icon ion-alert-circled"></i>
        </h1>
        <p style="font-size:56px">
            404
        </p>
        <br>
        <p>
            The request cannot be fullfilled now, Please go back
        </p>
        <br>
        <!--TODO: find how to direct user again to home-->
        <!--<a href="#" onclick="history.back()">Go back</a>
        <br>
        <a href="/">Go Home</a>-->
    {{/ionContent}}
</template>