<template name="profileTemplate">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Profile</h1>
    {{/contentFor}}

    {{#ionView}}

        {{#ionContent}}
            <div class="list card">

                <div class="item item-avatar">
                    <img src={{profEmail}}>
                    <h2>{{fullname}}</h2>
                    <p>{{dispName}}</p>
                </div>
                <a class="item" >
                     Points Accumulated
                    <span class="badge badge-assertive">0</span>
                </a>
                <a class="item item-icon-left" >
                    <i class="icon ion-email"></i> {{userEmail}}
                </a>

                <a class="item item-icon-left" >
                    <i class="icon ion-iphone"></i> {{mobile}}
                </a>


                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i> Like
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i> Comment
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i> Share
                    </a>
                </div>

            </div>
        {{/ionContent}}
        <div class="bar bar-footer bar-dark">

            <h1 class="title">Footer</h1>

        </div>
    {{/ionView}}

</template>
