<template name="rideDiv">
			{{hideInput}}
			<div class = "row ride ridePanel">
				<div class="alert alert-dismissable alert-success">
  					<strong>Well done!</strong> Select a rider and click on <strong>start</strong>, to go back click cancel.
				</div>
				<form class="form-horizontal">
					<fieldset>
						 <legend>Driver details</legend>
						 <div class="list-group">
						 {{#each names}}
						 	<a href="#" class="list-group-item">
						 	    {{this._id}}  -  {{this.summary}}  -  {{this.distance}} meters
						 	</a>
						 {{/each}}
						 </div>
						 {{selected}}
						 <div class="form-group">
						   <div class="">
						     <button class="btn btn-default cancel">Cancel</button>
						     <input type="submit" class="btn btn-primary" value="Submit">
						   </div>
						 </div>
					</fieldset>
				</form>
			</div>
</template>
