<template name="support">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Help & Support</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="jumbotron">
                <h1>This is simple "about" screen</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <p><a class="button button-positive">Learn more</a>
                </p>
            </div>
        {{/ionContent}}
    {{/ionView}}

</template>
