/* Side Menu */
.snap-drawers {
  background-color: $positive;
}
.snap-drawer-right {
  position: fixed;
  background-color: floralwhite;
}

.snap-drawer-left {
  position: fixed;
  color: #fff;
  background-color: $positive;
}
.drawer-left-menu-item {
  border-color: $positive;
  background-color: $positive;
}
.sidePic {
  background: $status url(/mb2);
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
}

.sideEmail {
  position: relative;
  z-index: 12;
  bottom: 20px;
  text-align: center;
  background-color: $status;
  word-wrap: normal;
}
#leftMenuId {
  height: 100%;
  touch-action: pan-y;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.snapjs-left .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.snapjs-left .ion-navicon:before {
  content: "\f2ca";
}

.menu-bottom {
  bottom: 16px;
  left: 16px;
  right: 16px;
  position: absolute;
}

.menu-top {
  top: 16px;
  left: 16px;
  right: 16px;
  position: absolute;
}
.menu-left .avatar {
  top: 16px;
  left: 16px;
  height: 65px;
  width: 65px;
  position:absolute;
}

.menu-left .bar.bar-header.expanded {
  box-shadow: none;
  min-height: 150px;
  color: #fff;
  border: none;
}

.snapjs-left .expanded {
  background-position: 0;
  background-size: 100%;
}

.has-expanded-header {
  top: 150px !important;
  overflow-y: scroll;
}