// Change Ionic's `positive` color to Meteor's red color:


$base03: #002b36;  //dark blue
$base01: #586e75;

$base2 : #F9F6F4;  //for back-ground

$green : #859900;
$red : #dc322f;
$orange : #cb4b16;


$positive: $base03;
