// Change Ionic's `positive` color to Meteor's red color:

$materialTeal : #009688;
$materialTealStatus : #00796B;


$solarDark : #002b36;


//used in body
$positive: $materialTeal;  //dark blue
//used for statusbar
$status: $materialTealStatus;


$base2 : #F9F6F4;  //for back-ground

$green : #859900;
$red : #dc322f;
$orange : #cb4b16;

