/* Side Menu */

.snapjs-left .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.snapjs-left .ion-navicon:before {
  content: "\f2ca";
}

.menu-bottom {
  bottom: 16px;
  left: 16px;
  right: 16px;
  position: absolute;
}

.menu-top {
  top: 16px;
  left: 16px;
  right: 16px;
  position: absolute;
}
.menu-left .avatar {
  top: 16px;
  left: 16px;
  height: 65px;
  width: 65px;
  position:absolute;
}

.menu-left .bar.bar-header.expanded {
  box-shadow: none;
  min-height: 150px;
  color: #fff;
  border: none;
}

.snapjs-left .expanded {
  background-position: 0;
  background-size: 100%;
}

.has-expanded-header {
  top: 150px !important;
  overflow-y: scroll;
}