<template name="publicHome">
    {{#ionView}}
        {{#ionContent}}
        <div class = "publicClass">
                <div class="logo-div">
                    <img src="/mb2" class="logo-img">
                    <div class="logo-text">
                        <p>MOTOBITE</p>
                    </div>
                    <div class="logo-caption">
                        <h3>Community Carpooling</h3>
                    </div>
                </div>
                
                <a href="{{pathFor 'userAccountsIonic'}}" class="enterClass button button-outline icon-right ion-chevron-right button-light ">Enter  </a>
        </div>
        {{/ionContent}}
    {{/ionView}}
</template>
