<template name="home">

    {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
            {{#if isAndroid}}
                {{> ionIcon icon='navicon'}}
            {{else}}
                {{> ionIcon icon='navicon'}}
            {{/if}}
        </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">MotoBite
            {{#if countNotifications}}
                <a href="{{pathFor route='inflateReq'}}">
                    <span class="badge badge-assertive badgeNotif" data-val= {{countNotifications}}>{{countNotifications}}</span>
                </a>
            {{/if}}
        </h1>

    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
    <div class="buttons">
    {{#if newMessage}}
        <a href="{{pathFor 'recentChats'}}">
            <button class="button button-clear" >
                {{> ionIcon icon='chatbubble-working'}}
            </button>
        </a>
    {{/if}}
        <button class="button button-clear" data-ion-popover="_myPopover">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-vertical'}}
            {{else}}
                {{> ionIcon icon='more'}}
            {{/if}}
        </button>
    </div>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="homeClass" }}
            <div class="mapState">
                    <button class="locate-button" style="display:block;" data-action="centerBounds">
                        <i class="ion-android-locate"></i>
                    </button>
                {{> dispMap}}
            </div>
        {{/ionContent}}
    {{/ionView}}

</template>
