<template name="inflateReq">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">Requests</h1>
    {{/contentFor}}


    {{#ionView}}
        {{#ionContent class="scheduletabsClass"}}
        <div data-snap-ignore="true" style="height: 100%;width: 100%;">  
            {{> listReq}}
        </div>
        {{/ionContent}}
    {{/ionView}}
    {{> _tabs}}
</template>

<template name="listReq">
    {{#ionList}}
        <div class="item item-divider">
            <p>Total ride requests - {{totalReqs}}</p>
        </div>
        {{#each reqSent}}
            <a class="item btnInfo list-group-item item-icon-right" >
                <h2 _id={{this._id}}>{{this.requestee}} &nbsp; requesting for &nbsp; {{this.advtRequest}} </h2>
                <p>
                    Show some details
                </p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        {{/each}}
        {{#each reqGot}}
            <a class="item gotInfo list-group-item item-icon-right" >
                <h2 _id={{this._id}}>YOU sent request for &nbsp; {{this.advtRequest}} </h2>
                <p>
                    Show some details
                </p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        {{/each}}
    {{/ionList}} 
</template>