<template name="inflateDrivers">
{{#forceLoggedIn}}
    {{#layout}}
    {{#HammerTouchArea gestureMap=inflateDriversGestures}}
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">Scheduled Rides</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="genericClass"}}
        <div data-snap-ignore="true" style="height: 100%;width: 100%;">
            {{#ionList}}
                <div class="item item-divider">
                    <p>Total rides you are offering - {{total}}</p>
                </div>
                {{#each driver}}
                    {{#ionItem buttonRight=true }}
                        <a class="btnInfo">
                            <h2>{{tripOrigin}}  &nbsp; to &nbsp; {{tripDest}} </h2>
                            <p>
                                {{start}}
                            </p>
                        </a>
                        <button class="button icon ion-trash-a button-assertive button-clear btnDel" ></button>
                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
            </div>
        {{/ionContent}}
    {{/ionView}}
    {{> _tabs}}
    {{/HammerTouchArea}}
    {{/layout}}
{{/forceLoggedIn}}
</template>
