<template name="profileTemplate">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="index"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Profile</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#if currentUser}}
            {{#ionContent class="profileClass"}}

                <div class="list card">
                    <div class="item" style="text-align:center">
                        <a href="{{currentUser.profile.avatarUrl}}" class="popup-image">
                            <img src="{{currentUser.profile.avatarUrl}}" width="128" height="128" class="rounded">
                        </a>
                        <br>
                        <a href="/changeAvatar" class="button button-small button-icon icon ion-camera"></a>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-thumbsup"></i> Like
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-chatbox"></i> Comment
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-share"></i> Share
                        </a>
                    </div>

                    <div class="item item-button-right">
                        Display Name <br>
                        <strong id="display-name">{{currentUser.profile.name}}</strong>
                        {{#if isAndroid}}
                            <a data-action="edit-displayName" class="button button-icon icon ion-android-create"></a>
                        {{else}}
                            <a data-action="edit-displayName" class="button button-icon icon ion-ios-compose-outline"></a>
                        {{/if}}
                    </div>

                    <div class="item item-button-right">
                        Set Status <br>
                        <strong id="status">{{currentUser.profile.status}}</strong>
                        {{#if isAndroid}}
                            <a data-action="compose-status" class="button button-icon icon ion-android-create"></a>
                        {{else}}
                            <a data-action="compose-status" class="button button-icon icon ion-ios-compose-outline"></a>
                        {{/if}}
                    </div>

                    <div class="item item-toggle">
                        Push notifications
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" id="notif" {{checked currentUser.profile.notifications}}>
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>

                    <div class="item">
                        Points Accumulated
                        <span class="badge badge-positive">{{currentUser.profile.points}}</span>
                    </div>

                    <div class="item item-icon-left item-icon-right">
                        <i class="icon ion-email"></i>{{currentUser.emails.[0].address}}
                        {{#if currentUser.emails.[0].verified}}
                            <i class="icon ion-checkmark-circled positive"></i>
                        {{else}}
                            <i class="icon ion-alert-circled"></i>
                        {{/if}}
                    </div>
                    
                    <div class="item item-icon-left item-icon-right">
                        <i class="icon ion-briefcase"></i>{{currentUser.works.emails.[0].address}}
                        {{#if currentUser.works.emails.[0].verified}}
                            <i class="icon ion-checkmark-circled positive"></i>
                        {{else}}
                            <i class="icon ion-alert-circled"></i>
                        {{/if}}
                    </div>

                    <div class="item item-icon-left item-icon-right" >
                        <i class="icon ion-iphone"></i>{{currentUser.mobile.[0].number}}
                         {{#if currentUser.mobile.[0].verified}}
                            <i class="icon ion-checkmark-circled positive"></i>
                        {{else}}
                            <i class="icon ion-alert-circled"></i>
                        {{/if}}
                    </div>

                    <div class="item item-button-right">
                        Password
                        <a href="{{pathFor 'changePswd'}}" class="button button-icon icon ion-lock-combination"></a>
                    </div>


                    <div class="item item-button-right" >
                        Sign Out
                        <a class="button button-icon icon ion-log-out" data-action="sign-out"></a>
                    </div>
                </div>
            {{/ionContent}}
        {{else}}
            {{> atForm}}
        {{/if}}
    {{/ionView}}

</template>
